version: '3'
services:
  react-app:
    build: ./client # Path to your react app Dockerfile
    stdin_open: true
    ports:
      - "3000:3000"
    networks:
      - mern-app

networks:
  mern-app:
    driver: bridge
